<h1> Edit Idea </h1>

<%= form_for :idea do |f| %>
<div class="field">
<%= f.label :idea_title %>
<%= f.text_field :title %>
</div>

<div class="blurb">
<%= f.label :idea_blurb %>
<%= f.text_field :blurb %>
</div>

<%#= f.label :idea_category_name %>
<%#= f.text_field :category_name %>

<div class="submit">
<%= f.submit "Save Edit" %>
</div>

<% end %>