<h1> DISCOVER IDEAS </h1>
<h4>Lorem ipsum lorem ipsum!</h4>
<br>

<div class="browse">
  <ul class="nav nav-pills">
    <li class="active"><%= link_to 'All', ideas_path %></li>
    <li class="active"><%= link_to 'Web', ideas_path(stuff: "web") %></li>
    <li class="active"><%= link_to 'Design', ideas_path(stuff: "design") %></li>
    <li class="active"><a href="#">Art</a></li>
    <li class="active"><a href="#">Tech</a></li>
  </ul>
</div><br>

<div class="browse">
  <% @ideas.each do |i| %>
  <div class="ideas col-xs-12  col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div id="test" class="panel-heading">
        <h3 id="accent" class="glyphicon glyphicon-flash"></h3><br>
      </div>
      <div class="panel body">
        <h3> <%= link_to i.title, i %> </h3>
        <p> Submitted by: <%= i.user.username %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>