<body class="homepage">
<div class="fadeIn">
<% if current_page?(ideas_path(stuff:"myideas")) %>
<h1 class="accent"> MY IDEAS </h1>
<% else %> 
<h1 class="accent"> DISCOVER IDEAS </h1>
<br>
  <div class="browse">
    <div class="col-xs-12  col-sm-12 col-md-12">
      <%= link_to ideas_path(stuff: nil) do %>
      <button type="button" class="btn btn-default">
      ALL
      <% end %>
      </button>

      <%= link_to ideas_path(stuff: "web") do %>
      <button type="button" class="btn btn-default">
      WEB
      <% end %>
      </button>

      <%= link_to ideas_path(stuff: "design") do %>
      <button type="button" class="btn btn-default">
      DESIGN
      <% end %>
      </button>

      <%= link_to ideas_path(stuff: "tech") do %>
      <button type="button" class="btn btn-default">
      TECH
      <% end %>
      </button>

      <%= link_to ideas_path(stuff: "app") do %>
      <button type="button" class="btn btn-default">
      APP
      <% end %>
      </button>

      <%= link_to ideas_path(stuff: "gaming") do %>
      <button type="button" class="btn btn-default">
      GAMING
      <% end %>
      </button>

      <%= link_to ideas_path(stuff: "ecommerce") do %>
      <button type="button" class="btn btn-default">
      eCOMMERCE
      <% end %>
      </button>
    </div>
  </div><br><br>

  <% end %>

  <div class="browse">
    <% @ideas.each do |i| %>
    <div class="col-xs-12  col-sm-6 col-md-4">
      <div class="panel panel-info">
        <div id="test" class="panel-heading">
          <%= image_tag("inspire.svg", class: "img-circle img-thumbnail2") %>
        </div>
        <div class="panel body">
          <h5> <%= link_to i.title, i %> </h5>
          <h5> Submitted by: <%= i.user.username %></h5>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>