<body class="homepage">
<div class="fadeIn">
<% if current_page?(ideas_path(stuff:"myideas")) %>
<h1 id="accent"> MY IDEAS </h1>
<% else %> 
<h1 id="accent"> DISCOVER IDEAS </h1>
<br>

  <div class="browse">
    <ul class="nav nav-pills">
      <li class="btn btn-default btn-xs"><%= link_to 'All', ideas_path %></li>
      <li class="btn btn-default btn-xs"><%= link_to 'Web', ideas_path(stuff: "web") %></li>
      <li class="btn btn-default btn-xs"><%= link_to 'Design', ideas_path(stuff: "design") %></li>
      <li class="btn btn-default btn-xs"><a href="#">Art</a></li>
      <li class="btn btn-default btn-xs"><a href="#">Tech</a></li>
      <li class="btn btn-default btn-xs"><a href="#">App</a></li>
      <li class="btn btn-default btn-xs"><a href="#">Gaming</a></li>
      <li class="btn btn-default btn-xs"><a href="#">eCommerce</a></li>
    </ul>
  </div><br>

  <% end %>

  <div class="browse">
    <% @ideas.each do |i| %>
    <div class="col-xs-12  col-sm-6 col-md-4">
      <div class="panel panel-info">
        <div id="test" class="panel-heading">
          <%= image_tag("inspire.svg", class: "img-circle img-thumbnail2") %>
        </div>
        <div class="panel body">
          <h5> <%= link_to i.title, i %> </h5>
          <h5> Submitted by: <%= i.user.username %></h5>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>