<% if current_user %>

<div class="createidea">	
		<h1>POST YOUR IDEA</h1>
		<%= form_for @idea do |idea| %>
			<%= idea.text_field :title, :placeholder => "Enter Your Idea Name" %><br>
			<br>CATEGORY TEST<br>
			<select>
				<option value="Art">Art</option>
				<option value="Design">Design</option>
			</select>
			<br>
			<!-- end test -->
			<%#= idea.create :category, :placeholder => "Category" %><br>
			<%= idea.text_field :blurb, :placeholder => "blurb" %><br>
			<%= idea.text_field :tag, :placeholder => "tag" %><br>
		<%= idea.submit "submit" %>
		<% end %>
</div>

<% else %>
<div class="container">
	<div class="alert alert-danger">Please log in to continue</div>
</div>

<div class="btn btn-default btn-lg" role="button"><%= link_to 'Log In', new_auth_path %></div>

<div class="btn btn-info btn-lg" role="button"><%= link_to 'Sign Up', new_user_path %></div>
<% end %>
