<div class="createidea">
	<h1>Post Your Idea</h1>
	<%= form_for @idea do |idea| %>
		<%= idea.text_field :title, :placeholder => "Enter Your Idea Name" %><br>
		<%= idea.text_field :category, :placeholder => "Category" %><br>
		<%= idea.text_field :blurb, :placeholder => "blurb" %><br>
		<%= idea.text_field :tag, :placeholder => "tag" %><br>
	<%= idea.submit "submit" %>
	<% end %>
</div>