<p>
	<h1><%= @idea.title %></h1>
</p>

<% if @idea.user == current_user %>
	<button type="button" class="btn btn-info">
		<span class="glyphicon glyphicon-pencil">
		<%= link_to 'Edit', edit_idea_path(@idea) %> 
		</span>
	</button>

	<button type="button" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove">
		<%= link_to 'Delete', @idea, {method: "delete"} %>
		</span> 
	</button>
	<br><br>
<% end %>

<div class="show">
	<%= @idea.created_at %>

	<h3>Category</h3>
	<%= @idea.category.name %>

	<h3>Description</h3>
	<%= @idea.blurb %>

	<h3>Tags</h3>
	<%= @idea.tag %>

<h3>Submitted by:</h3> 
<%= @idea.user.username %>

</div>

