<p>
	<h1><%= @idea.title %></h1>
</p>

<p>
	<strong>Category</strong>
	<%= @idea.category.name %>
</p>

<p>
	<strong>Description</strong>
	<%= @idea.blurb %>
</p>

<p>
	<strong>Tags</strong>
	<%= @idea.tag %>
</p>

<p>
<strong>Submitted by:</strong> 
<%= @idea.user.username %>
</p>

<% if @idea.user == current_user %>
<button type="button" class="btn btn-info">
	<span class="glyphicon glyphicon-pencil">
	<%= link_to 'Edit', edit_idea_path(@idea) %> 
	</span>
</button>

<button type="button" class="btn btn-danger">
	<span class="glyphicon glyphicon-remove">
	<%= link_to 'Delete', @idea, {method: "delete"} %>
	</span> 
</button>
<% end %>

