<p>
	<h1><%= @idea.title %></h1>
</p>

<p>
	<strong>Category</strong>
	<%= @idea.category %>
</p>

<p>
	<strong>Description</strong>
	<%= @idea.blurb %>
</p>

<p>
	<strong>Tags</strong>
	<%= @idea.tag %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %>
<%= button_to 'X', @idea, {method: "delete"} %>