<body class="showpage">
<p>
	<h1><%= @idea.title %></h1>
</p>



<div class="show well" id="showidea">

<% if @idea.user == current_user %>
	<%= link_to edit_idea_path(@idea) do %>
	<button type="button" class="btn btn-primary">
		<span class="glyphicon glyphicon-pencil">
		Edit
		</span>
	</button>
	<% end %>

	<%= link_to @idea, {method: "delete"} do %>
	<button type="button" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove">
		Delete
		</span> 
	</button>
	<% end %>

<% end %>

 <%= link_to ideas_path do %>
  <button type="button" class="btn btn-info">
  	<span class="glyphicon glyphicon-chevron-left">
  	Back
  	</span>
  </button>
  <% end %>
	<%= @idea.created_at %>

	<h3>Category</h3>
	<%= @idea.category.name %>

	<h3>Description</h3>
	<%= @idea.blurb %>

	<h3>Tags</h3>
	<%= @idea.tag %>

<h3>Submitted by:</h3> 
<%= @idea.user.username %>

</div>

</body>
