<body class="homepage">
<%= image_tag("muselablogo.png", class: "logo") %>
  <!-- <h1 class="accent">D I S C O V E R  &nbsp; I D E A S</h1>
  <p><i>hover over a bubble to explore</i></p> -->
  <%= render partial: 'layouts/datavis' %>
 <!--  <p>Where user needs inspire creators.</p> -->
 <%= link_to ideas_path do %>
  <div class="explore">
  	<h4>GET INSPIRED</h4>
  </div>
  <% end %>
  <!-- <div class="btn btn-default btn-lg" role="button"><%#= link_to 'Get Inspired', ideas_path %></div> -->
<br><br>
<%= image_tag("idea.svg", class: "img-circle img-thumbnail2") %>
<%= image_tag("collab.svg", class: "img-circle img-thumbnail2") %>
<%= image_tag("inspire.svg", class: "img-circle img-thumbnail2") %>

</body>
