<!DOCTYPE html>
<html>
<head>
  <title>Ideally</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<nav class="navbar navbar-default" role="navigation">

	<%= render partial: 'layouts/nav' %>

</nav>
<%= yield %>
<br><hr>
Delete this before launching! Params are: <%= params %>
<br>
Current User is: <%= current_user ? current_user.username : "(not logged in)" %>
<hr>
</body>
</html>
